<div class="container">
<div class="container">
    <h1><%= @cocktail.name %></h1>
    <div class="container">
        <% @cocktail.doses.each do |dose| %>
            <li><%= dose.full_description %></li>
        <% end %>
    </div>
</div>
    <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>
</div>

  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Christine
  </div>
  </div>